<div class="quiz-container" @fadeInGrow>
    <div class="heading">
        <span> {{quizHeading}} </span> 
        <span style="margin-top: -10px"> <button mat-button (click) = "toggleSound()"> {{disableEnableButtonText}}</button> </span>
         <span> {{quizCounter}} </span>
    </div>
    <div class="question-answer">
        <div class="question">
            {{quizObject?.question}}
        </div>
        <div class="question-options">
            <mat-radio-group  class="options-radio-group">
                <mat-radio-button class="options-radio-button" (click)="onAnswer(option)" [checked]="option === selectedAnswer" *ngFor="let option of quizObject?.options" [value]="option">
                    {{option}}
                </mat-radio-button>
            </mat-radio-group>
            <!-- <div> <img src="http://districts.nic.in/images/banner/30-uttar-pradesh-home.jpg"/></div> -->
        </div>
    </div>
</div>